.titleArea {
    display: table;
    width: 100%;
}

h1 {
    display: table-cell;
}

.navi {
    display: table-cell;
    text-align: center;
}

.navi a:nth-child(n+2) {
    padding-left: 10px;
}

.snsLink {
    display: table-cell;
    text-align: right;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

table td {
    border: 1px solid #000;
}